modules = ["nodejs-22", "postgresql-16"]

[agent]
stack = "AGENT_STACK"
stackVersion = "2.0"
automationTriggerConnectorName = "legacy_timebased"
integrations = ["javascript_openai_ai_integrations:2.0.0", "google-mail:1.0.0"]

[nix]
channel = "stable-24_11"
packages = ["jq", "poppler_utils"]

[env]
MASTRA_HIDE_CLOUD_CTA = "true"

[deployment]
build = ["bash", "scripts/build.sh"]
run = ["sh", "-c", "cd .mastra/output && NODE_ENV=production node index.mjs"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 3000
externalPort = 3000
exposeLocalhost = true

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 8289

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start inngest server"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "mastra dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "automations"

[[workflows.workflow]]
name = "Start inngest server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "./scripts/inngest.sh"
waitForPort = 3000

[workflows.workflow.metadata]
outputType = "automations"

[userenv]

[userenv.development]
USE_FIXTURES = "false"

[userenv.shared]
CLAY_WEBHOOK_URL = "https://api.clay.com/v3/sources/webhook/pull-in-data-from-a-webhook-63d46a35-c3e8-4c82-82de-523c9718d608"
GMAIL_LABEL = "Job Alerts"
IMPORT_API_KEY = "4c6e4189a06b0f4996307c6d97d5a44370fcca788aab73416bd80e781c1ea589"
